In [24]:
import pandas as pd
import pvlib
import datetime

In [25]:
data_file = os.path.join(os.getcwd(), "output", "2021_04_03_09_50_Uhr.csv")

forecast_data = pd.read_csv(data_file, index_col="date")
forecast_data.index = pd.to_datetime(forecast_data.index)

ghi = forecast_data.RAD_WH

In [26]:
today = datetime.date.today()# + datetime.timedelta(days=1)
start = datetime.datetime(year=today.year, month=today.month, day=today.day, hour=5)
start = pd.Timestamp(start).tz_localize('utc')
end = datetime.datetime(year=today.year, month=today.month, day=today.day, hour=20)
end = pd.Timestamp(end).tz_localize('utc')
ghi = ghi.loc[start:end]

In [27]:
mylatitude = 51.4
mylongitude = 6.86
myaltitude = 90
solpos = pvlib.solarposition.get_solarposition(time = ghi.index, latitude=mylatitude, longitude=mylongitude, altitude=myaltitude)

In [28]:
ghi

date
2021-04-03 05:00:00+00:00      0.00000
2021-04-03 06:00:00+00:00      8.33334
2021-04-03 07:00:00+00:00     72.22228
2021-04-03 08:00:00+00:00    186.11126
2021-04-03 09:00:00+00:00    308.33358
2021-04-03 10:00:00+00:00    400.00032
2021-04-03 11:00:00+00:00    461.11148
2021-04-03 12:00:00+00:00    500.00040
2021-04-03 13:00:00+00:00    458.33370
2021-04-03 14:00:00+00:00    386.11142
2021-04-03 15:00:00+00:00    319.44470
2021-04-03 16:00:00+00:00    222.22240
2021-04-03 17:00:00+00:00    127.77788
2021-04-03 18:00:00+00:00     41.66670
2021-04-03 19:00:00+00:00      0.00000
2021-04-03 20:00:00+00:00      0.00000
Name: RAD_WH, dtype: float64

In [29]:
dni =  pvlib.irradiance.disc(ghi=ghi, solar_zenith=solpos.zenith, datetime_or_doy=ghi.index)
dni

                                  dni        kt    airmass
date
2021-04-03 05:00:00+00:00    0.000000  0.000000        NaN
2021-04-03 06:00:00+00:00    0.000000  0.043766   6.863031
2021-04-03 07:00:00+00:00    0.000000  0.177559   3.332144
2021-04-03 08:00:00+00:00   35.012412  0.309027   2.264406
2021-04-03 09:00:00+00:00  107.620819  0.403791   1.789454
2021-04-03 10:00:00+00:00  156.176646  0.454641   1.554314
2021-04-03 11:00:00+00:00  196.781671  0.488982   1.450621
2021-04-03 12:00:00+00:00  260.430174  0.526942   1.441685
2021-04-03 13:00:00+00:00  241.590608  0.510935   1.524596
2021-04-03 14:00:00+00:00  222.542502  0.488077   1.727653
2021-04-03 15:00:00+00:00  281.619307  0.500511   2.137944
2021-04-03 16:00:00+00:00  328.009741  0.494990   3.025078
2021-04-03 17:00:00+00:00  503.488710  0.541129   5.620773
2021-04-03 18:00:00+00:00    0.000000  0.467796  12.000000
2021-04-03 19:00:00+00:00    0.000000  0.000000        NaN
2021-04-03 20:00:00+00:00    0.000000  0.000000        NaN

In [33]:
dni =  pvlib.irradiance.disc(ghi=ghi, solar_zenith=solpos.zenith, datetime_or_doy=ghi.index, min_cos_zenith=0.01, max_zenith=85)
dni

                                  dni        kt    airmass
date
2021-04-03 05:00:00+00:00    0.000000  0.000000        NaN
2021-04-03 06:00:00+00:00    0.000000  0.043766   6.863031
2021-04-03 07:00:00+00:00    0.000000  0.177559   3.332144
2021-04-03 08:00:00+00:00   35.012412  0.309027   2.264406
2021-04-03 09:00:00+00:00  107.620819  0.403791   1.789454
2021-04-03 10:00:00+00:00  156.176646  0.454641   1.554314
2021-04-03 11:00:00+00:00  196.781671  0.488982   1.450621
2021-04-03 12:00:00+00:00  260.430174  0.526942   1.441685
2021-04-03 13:00:00+00:00  241.590608  0.510935   1.524596
2021-04-03 14:00:00+00:00  222.542502  0.488077   1.727653
2021-04-03 15:00:00+00:00  281.619307  0.500511   2.137944
2021-04-03 16:00:00+00:00  328.009741  0.494990   3.025078
2021-04-03 17:00:00+00:00  503.488710  0.541129   5.620773
2021-04-03 18:00:00+00:00    0.000000  1.000000  12.000000
2021-04-03 19:00:00+00:00    0.000000  0.000000        NaN
2021-04-03 20:00:00+00:00    0.000000  0.000000        NaN

In [35]:
solpos.zenith

date
2021-04-03 05:00:00+00:00     91.340186
2021-04-03 06:00:00+00:00     82.012792
2021-04-03 07:00:00+00:00     72.732666
2021-04-03 08:00:00+00:00     63.928127
2021-04-03 09:00:00+00:00     56.134591
2021-04-03 10:00:00+00:00     50.054742
2021-04-03 11:00:00+00:00     46.514847
2021-04-03 12:00:00+00:00     46.175626
2021-04-03 13:00:00+00:00     49.108320
2021-04-03 14:00:00+00:00     54.738790
2021-04-03 15:00:00+00:00     62.240510
2021-04-03 16:00:00+00:00     70.875538
2021-04-03 17:00:00+00:00     80.077258
2021-04-03 18:00:00+00:00     89.400612
2021-04-03 19:00:00+00:00     98.447663
2021-04-03 20:00:00+00:00    106.800407
Name: zenith, dtype: float64